    <div class="container-fluid">
        <div class="row ">
            <div class="container mt-2">
                <div class="d-flex justify-content-between">
           <span class="fw-bold ms-2 ps-3 fs-2"><h3>Workers List</h3></span>
                <button type="button"class="btn btn-primary float-end mt-0 me-3b p-2"><a class="text-white nav-link" routerLink="Worker/createworker">+ Add Worker</a></button>
            </div>
        </div>

        <div class="row mt-2 mb-1 ">
            <div class="col-lg-13 col-md-15 col-sm-14 bms-auto me-auto bg-light">
                <div class="table-responsive">
                    <table class="m-auto table table-bordered table-hover text-center mb-3">
                        <thead class="bg-light text-black">
                            <tr class="thead">
                                <th scope="col">S.No</th>
                                <th scope="col">Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Role</th>
                                <th scope="col">Experience</th>
                            </tr>
                        </thead>
                        <tbody id="tbody" type="">
                            <tr *ngFor="let Worker of workers">
                                <td>{{Worker.fname}}</td>
                                <td>{{Worker.email}}</td>
                                <td>{{Worker.phonenumber}}</td>
                                <td>{{Worker.age}}</td>
                                <td>{{Worker.experience}}</td>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="/Javascript/createworkers.js"></script>

