<div class="wrapper">
    <div class="title-text">
        <div class="title signup">

        </div>
        <b>Signin</b>
    </div>


    <div class="form-container">
        <div class="form-inner">
            <form action="#" class="Login"><br />
                <div class="field">
                    <input type="text" id="email" placeholder="Email address">
                </div><br />
                <div class="field">
                    <input type="password" id="password" placeholder="Password">
                </div><br />

                <div class="field">
                    <input type="checkbox"> Remember me
                </div><br />


                <div class="pass-link">Forgot password?</div>
                <div class="field"><br />
                    <a routerLink="/homepage">
                        <button type="button" id="signup-button" class="btn btn-primary">Signup</button></a>
                 <a routerLink="/signup">   <button type="button" id="login-button" class="btn btn-primary">Signin</button></a>


                </div><br>
            </form>
        </div>

    </div>
</div>