


<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
              
                <img src="/assets/scl students.jfif" class="card-img-top" alt="Student_Image">
                <div class="card-body">
                    <br>
                    <h3 class="card-title"><b>Students</b></h3>
                    <p class="card-text"><p>Attending classes on time and regularly.
                       Being prepared for classes with all necessary supplies.
                       Taking good care of school property.
                       Completing all homework assignments.
                       Organizing their time well.
                    </p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="/assets/scl teachers.jfif" class="card-img-top" alt="Teachers_Image">
                <div class="card-body">
                    <br>
                    <h3 class="card-title"><b>Teachers</b></h3>
                    <p class="card-text">Sharing Knowledge. 
                        Making Learning A Fun Activity.
                        Drawing Real-life Connections.
                        Encouraging Students. 
                        Changing the Scenario of life.
                        Tracking Improvement and Setting Performance Goals.
                        An External Parent.
                        Talk english fluency with the students.
                        Dont scold.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/assets/office.jfif" class="card-img-top" alt="Workers_Image">
                <div class="card-body">
                    <h3 class="card-title"><b>workers</b></h3>
                    <p class="card-text">Talent Management. The talent management team in the HR department covers a lot of ground. ...
                        Compensation and Benefits. 
                        Training and Development. 
                        HR Compliance. 
                        Workplace Safety.
                        Work regularly.
                        Dont take leave.
                        Come at off in correct time.
                        Work more and more.
                        Work hard.
                        
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

