<div class="wrapper">
    <div class="title-text">
        <div class="title signup text-start"><h4><b>Sign up</b></h4></div>
    </div><br>
</div>
<div class="row">
    <div class="col-6">
        <div class="form-container">
            <div class="form-inner">
                <form action="#" class="Login"><br />
                    <div class="field">
                        <input type="text" placeholder="Name" id="name"  required>
                    </div><br />
                    <div class="field">
                        <input type="text" placeholder="Email-id" id="email" required>
                    </div><br />
                    <div class="field">
                        <input type="password" placeholder="Password" id="password" required>
                    </div><br />
                    <div class="field">
                        <input type="password" placeholder=" Confirm Password" id="confirmPassword" required>
                    </div><br />
                  <p> i agree all statements terms of service
                          </p>
                    
                    <div class="title-text"></div>

                                 <div>
                                   <a href="" class="btn btn-primary" id="registerbutton" >Register</a> 
                                </div>
                                   <br>


                    <div class="">Already Have a account? <a href="" >Signin</a></div><br />
                    
                </form>
            </div>

        </div>
    </div>

